<div class = "suspect-container">
    <div class "person-container">
        <a href = "/suspect/{{@key}}"><img src = "{{url}}"></a>
        <p class="personName">{{name}}</p>
        <p class="personAge"> Age: {{age}}</p>
        <p class="aboutPerson">{{about}}</p>
    </div>
</div>
